@page "{id:min(1)?}"
@model Bugger.Pages.Tickets.EditModel
@{
    var pageHeader = Model.SingleTicket.TicketId > 0 ? "Edit ticket" : "Add new ticket";
}

<style>
    .btn {
        width: 75px;
        margin-right: 4px;
    }
</style>

<h1>@pageHeader</h1>

<form method="post" class="mt-4">
    <input hidden asp-for="SingleTicket.TicketId" />

    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <div class="form-group row">
        <label asp-for="SingleTicket.TicketProject" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleTicket.TicketProject" class="form-control" placeholder="Project" />
            <span asp-validation-for="SingleTicket.TicketProject" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleTicket.TicketTitle" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleTicket.TicketTitle" class="form-control" placeholder="Title" />
            <span asp-validation-for="SingleTicket.TicketTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleTicket.TicketDescription" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleTicket.TicketDescription" class="form-control" placeholder="Description" />
            <span asp-validation-for="SingleTicket.TicketDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleTicket.Status" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <select asp-for="SingleTicket.Status" class="custom-select"
                    asp-items="Html.GetEnumSelectList<Status>()">
                @*<option value="">Please select</option>*@
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleTicket.AssignedToUser" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleTicket.AssignedToUser" class="form-control" placeholder="Assigned to user" />
            <span asp-validation-for="SingleTicket.AssignedToUser" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleTicket.TargetEndDate" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleTicket.TargetEndDate" class="form-control" placeholder="Target enddate" />
            <span asp-validation-for="SingleTicket.TargetEndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="row-cols-sm-1">
            <button type="submit" class="btn btn-success">Save</button>
            <a asp-page="/Tickets/Index" class="btn btn-outline-primary">Cancel</a>
            @if (@Model.SingleTicket.TicketId > 0)
            {
                <a asp-page="/Tickets/Delete" asp-route-ID="@Model.SingleTicket.TicketId" class="btn btn-outline-danger">Delete</a>
            }
        </div>
    </div>
</form>