@page "{id:min(1)?}"
@model Bugger.Pages.Tickets.EditModel
@{
    var pageHeader = Model.SingleTicket.TicketId > 0 ? "Edit" : "Create";
}

<style>
    .btn {
        width: 75px;
        margin-right: 4px;
    }
</style>

<h1>@pageHeader</h1>

<form method="post" class="mt-4">
    <input hidden asp-for="SingleTicket.TicketId" />

    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    @*<div class="form-group row">
        <label asp-for="SingleUser.FullName" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleUser.FullName" class="form-control" placeholder="Name" />
            <span asp-validation-for="SingleUser.FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleUser.UserName" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleUser.UserName" class="form-control" placeholder="Username" />
            <span asp-validation-for="SingleUser.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SingleUser.EmailAddress" class="col-sm-2 col-form-label">
        </label>
        <div class="col-sm-10">
            <input asp-for="SingleUser.EmailAddress" class="form-control" placeholder="Email" />
            <span asp-validation-for="SingleUser.EmailAddress" class="text-danger"></span>
        </div>
    </div>*@
    @*<div class="form-group row">
        <div class="row-cols-sm-1">
            <button type="submit" class="btn btn-success">Save</button>
            <a asp-page="/Tickets/Index" class="btn btn-outline-primary">Cancel</a>
            @if (@Model.SingleTicket.TicketId > 0){
            <a asp-page="/Users/Delete" asp-route-ID ="@Model.SingleTicket.TicketId" class="btn btn-outline-danger">Delete</a>
            }
        </div>
    </div>*@
</form>