@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center mt-4">
    <h1 class="display-3">BUGGER JUMBOTRON</h1>
    <p class="lead">ASP.NET Core Application to keep track of projects and issues.</p>
    <hr class="my-4">
    <p>Have fun!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://marnixven.github.io/" role="button">Learn more</a>
    </p>
</div>
