@page "{id}"
@model Bugger.Pages.Users.DeleteModel
@{
}

<h1>Delete Confirmation</h1>

<div class="alert alert-secondary">
    <h5>Are you sure you want to delete user @Model.SingleUser.FullName?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Users/Edit" asp-route-ID="@Model.SingleUser.Id">No</a>
    </form>
</div>