@page "{id}"
@model Bugger.Pages.Users.DeleteModel
@{
}

<style>
    .btn {
        width: 75px;
        margin-right: 4px;
    }
</style>

<div class="alert alert-light border-danger mt-5 text-center">
    <h5>Are you sure you want to delete user @Model.SingleUser.FullName?</h5>
    <form method="post">
        <a class="btn btn-primary" asp-page="/Users/Edit" asp-route-ID="@Model.SingleUser.Id">No</a>
        <button type="submit" class="btn btn-outline-danger">Yes</button>
    </form>
</div>