@page
@model Bugger.Pages.Projects.IndexModel
@{
}

<h1>Projects</h1>

<div class="card-deck">
    @foreach (var proj in Model.Projects)
    {
        <div class="card border-info mb-3" style="min-width: 18rem; max-width: 30.5%; margin-top: 20px;">
            <div class="card-header text-center"><h5 style="font-weight: bold">@proj.ProjectName</h5></div>
            <div class="card-body">
                <h5 class="card-title">Ticket status</h5>
                <h6 class="text-muted">Open: @Model.Projects.Count()</h6>
                <h6 class="text-muted">In Progress: @Model.Projects.Count()</h6>
                <h6 class="text-muted">On Hold: @Model.Projects.Count()</h6>

                <div class="progress mb-1">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress mb-1">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                @*<div class="progress mb-1">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>*@
                <div class="progress mb-1">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>
        </div>
    }
</div>